table{
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    margin-left: 22%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px 0px 8px 0px;
}

.btn-borrar{
    padding: 0 5px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgba(53, 43, 43, 0.863);
    color: white;
}